nav a {
  text-decoration: underline;
}


BODY{
  background:brown;
  font-family: sans-serif;
  color: black;

  border-radius: 100px;

  }
h2{
  s
  color: Black;

}
 section{
background: lightblue;
padding: pink,6px;
margin: 16px;
}
